<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
     Me inicie en la programación con Python probando distintos cursos, tenía 18 años. Hoy, luego de 3 años, he pulido y mejorado mis conocimientos <strong>realizando diferentes proyectos con todas las tecnologías que aprendí</strong>.
  </p>
  <p>
    Durante el tiempo de estudio he aprendido el stack MERN, <strong>realizando un gran proyecto para una hotelera. También he desarrollado muchas soft skills, siendo yo el Scrum Master de los grupos que se armaron en este curso.</strong> Además, en otros estudios, profundicé mis conocimientos en Python utilizando Django, Pandas, Keras, TensorFlow y más.
  </p>
  <p>
    Trabajo bien en equipo, <strong>los proyectos más grandes los realicé acompañado de otros programadores con los cuales ideamos un plan de desarrollo</strong> <em class="italic">para concretar nuestro objetivo</em>. Mi objetivo es poder demostrar estas habilidades que adquirí a lo largo de mis estudios y demostrarlas en una empresa IT, para poder pulirlas, mejorarlas y conseguir nuevas herramientas para seguir creciendo.
  </p>
  </div>


</article>
