---
const personalImageAlt = "Bruno Tornese";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.png"
      alt={personalImageAlt}
    />

    <Badge>En busca de empleo</Badge>
  </div>
</div>
<h1
  class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
>
  Hola!, me llamo Bruno
</h1>
<p
  class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
>
  Soy <strong>
    desarrollador Full Stack con experiencia en el stack M.E.R.N. (MongoDB,
    Express, React, Node.js), y con dominio en Next.js, especializado en la
    creaci칩n de aplicaciones web r치pidas y escalables con TypeScript.
  </strong> Adem치s, tengo experiencia en Python (Django, NumPy, pandas, entre otros).
  Resido en Torremolinos, M치laga, Espa침a 游쀯릖, y me apasiona desarrollar soluciones
  digitales eficientes y de alto rendimiento.
</p>
<nav class="flex flex-wrap gap-4 mt-8">
  <SocialPill href="https://github.com/BrunoTornese">
    <GitHub class="size-4" />
    GitHub
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/bruno-tornese/">
    <LinkedInIcon class="size-4" />
    LinkedIn
  </SocialPill>
</nav>
